.imagen-media {
    width: 500px;
}
.contenedor-exterior{
    background-color: #E9ECEF;
    border: 4px solid brown;
    border-radius: 5px;
}
#footer {
    text-align: center;
}

.header {
    border-bottom: 4px solid dodgerblue;
}